
header{
    display: flex;
    align-items: center;
    padding: 0 20px;;
    height: 80px;
    background: linear-gradient(
        to right,
        #6188ff 70%,
        #71a4f3 71%,
        #71a4f3 97%,
        #8ec0f0 100%
    );
}


.titulo-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #88daf2;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: solid 3px #30408d;
    padding: 0 5px;
    color: #f0fbff;
}

img{
    height: 40px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5 rem;
    -webkit-text-stroke: 2px #30607a;
}