<div id="backdrop" [ngClass]="{escondido : !abierto}" (click)="clicked.emit()"></div>
    <div id="container">
        <div id="datos">
            <div class="area">
                <app-lista-pokemon [fullData]="caracteristicas" [seleccionado]="true"></app-lista-pokemon>
            </div>
            <div class="area">
                <p><span class="etiqueta">Tipo</span>
                    @for (tipo of caracteristicas?.types; track $index) {
                    <span class="tipo">{{tipo.type.name}}</span>
                }
                </p>
                <p><span class="etiqueta">Altura</span>{{caracteristicas?.height}}</p>
                <p><span class="etiqueta">Peso</span>{{caracteristicas?.weight}} lbs.</p>
            </div>
            <div class="area">
                <div id="descriptionContainer">
                    <div></div>
                    <p>{{description}}</p>
                    <div></div>
                </div>
            </div>
        </div>
        <button (click)="clicked.emit()">
            <img src="flecha.png" alt="" [ngClass]="{girar: abierto}">
        </button>
    </div>
